{% extends 'base.html' %}
{% block mainbody %}
<div class="row">
  <div class="col-sm-2 col-lg-2 col-md-2">
      <h4>Statistics</h4>
      <dl>
        <dd>People: {{people}}</dd>
        <dd>Planets: {{planets}}</dd>
        <dd>Films: {{films}}</dd>
        <dd>Species : {{species}}</dd>
        <dd>Vehicles: {{vehicles}}</dd>
        <dd>Starships: {{starships}}</dd>
      </dl>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8">
{% load markdown_deux_tags %}
{% markdown %}
{% include "about.md" %}
{% endmarkdown %}
{% endblock mainbody %}
