{% extends 'base.html' %}
{% block mainbody %}
<div class="row">
<div class="col-sm-4 col-md-4">
    <h6>Getting started</h6>
    <ul class="list-group mb-4">
      <a href="#intro" class="list-group-item list-group-item-action">Introduction</a>
      <a href="#start" class="list-group-item list-group-item-action">Getting started</a>
      <a href="#base" class="list-group-item list-group-item-action">Base URL</a>
      <a href="#rate" class="list-group-item list-group-item-action">Rate limiting</a>
      <a href="#auth" class="list-group-item list-group-item-action">Authentication</a>
      <a href="#schema" class="list-group-item list-group-item-action">JSON Schema</a>
      <a href="#search" class="list-group-item list-group-item-action">Searching</a>
    </ul>
    <h6>Encodings</h6>
    <ul class="list-group mb-4">
        <a href="#json" class="list-group-item list-group-item-action">JSON</a>
        <a href="#wookiee" class="list-group-item list-group-item-action">Wookiee</a>
    </ul>
    <h6>Resources</h6>
    <ul class="list-group mb-4">
        <a href="#root" class="list-group-item list-group-item-action">Root</a></a>
        <a href="#people" class="list-group-item list-group-item-action">People</a></a>
        <a href="#films" class="list-group-item list-group-item-action">Films</a></a>
        <a href="#starships" class="list-group-item list-group-item-action">Starships</a></a>
        <a href="#vehicles" class="list-group-item list-group-item-action">Vehicles</a></a>
        <a href="#species" class="list-group-item list-group-item-action">Species</a></a>
        <a href="#planets" class="list-group-item list-group-item-action">Planets</a></a>
    </ul>
    <h6>Helper libraries</h6>
    <ul class="list-group mb-4">
        <a href="#python" class="list-group-item list-group-item-action">Python</a></a>
        <a href="#javascript" class="list-group-item list-group-item-action">Javascript</a></a>
        <a href="#android" class="list-group-item list-group-item-action">Android</a></a>
        <a href="#java" class="list-group-item list-group-item-action">Java</a></a>
        <a href="#golang" class="list-group-item list-group-item-action">Go</a></a>
        <a href="#ruby" class="list-group-item list-group-item-action">Ruby</a></a>
        <a href="#csharp" class="list-group-item list-group-item-action">C#</a></a>
        <a href="#objc" class="list-group-item list-group-item-action">Objective C</a></a>
        <a href="#angular" class="list-group-item list-group-item-action">Angular</a></a>
        <a href="#angular2" class="list-group-item list-group-item-action">Angular 2</a></a>
        <a href="#r" class="list-group-item list-group-item-action">R</a></a>
        <a href="#fsharp" class="list-group-item list-group-item-action">F#</a></a>
        <a href="#elixir" class="list-group-item list-group-item-action">Elixir</a></a>
    </ul>
</div>
<div class="col-md-8 col-sm-8">
{% load markdown_deux_tags %}
{% markdown %}
    {% include "docs.md" %}
{% endmarkdown %}
</div>
</div>
{% endblock mainbody %}
